*{
    margin: 0px;
    padding: 0px;
}

.sd-items{
    display: flex;
    padding-left: 160px;
    height: 100vh;
    width: 100%;
    
}

.row-1-sd{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 50%;
    height: 100%;
    border: 1px solid rgb(253, 250, 250);

   
   
}
.course-name{
    color: #F646a0;
}

.col-1--r1-sd{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(158, 143, 143);
    border-radius: 7px;
    margin: 2px;
    height: 50%;
    background-color: white;
}
.col-2--r1-sd{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(158, 143, 143);
    border-radius: 7px;
    margin: 20px;
    padding: 10px;
    height: 50%;
    background-color: white;
}
.col-3-r1-sd{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(158, 143, 143);
    border-radius: 7px;
    margin: 20px;
    padding: 10px;
    height: 50%;
    background-color: white;
}
.row-2-sd{
    display: flex;
    flex-direction: column;
    margin: 100px 20px;
    padding: 10px;
    height: 100%;
    width: 30%;
    
  }
  .col-1-r2-sd{
    display: flex;
    flex-direction: column;
    border: 1px solid  rgb(158, 143, 143);
    border-radius: 10px;
    color: white
  }
  .col-2-r2-sd{
    display: flex;
    flex-direction: column;
    border: 1px solid  rgb(158, 143, 143);
    border-radius: 7px;
    padding: 20px;
    margin: 15px 0px;
    background-color:white;
  }
 .col-3-r2-sd{
    display: flex;
    flex-direction: column;
    border: 1px solid  rgb(158, 143, 143);
    border-radius: 7px;
    padding: 20px;
    margin: 15px 0px;
    background-color:white;
  }
  .heart:hover{
    color: #F646a0;
    
  }

 